.orderItem {
    display: flex;
    padding: 0.8em 2em;   
    background-color: #ffffff;
}

.orderItem div {
    flex-grow: 1;
    min-width: 25%;
}

.notExpanded {
    border-bottom: 1px solid #dddddd;
    
}

.expanded {
    box-shadow: 0px 3px 5px 0px #969696;
    position:relative;
    z-index:999;
}