.activeItem {
    font-size: 1.5em;
    padding: 1rem;
    text-decoration: none;
    color: var(--primary-color-darker);
    background-color: var(--background-color-lighter);
}
  
.inactiveItem {
    font-size: 1.5em;
    padding: 1rem;
    color: var(--inactive-sidebar-item) !important;
    text-decoration: none;
}

.activeItem:hover {
    text-decoration: none;
    color: var(--primary-color-darker);
    background-color: var(--background-color-lighter);
}
  
.inactiveItem:hover {
    text-decoration: none;
    color: var(--primary-color-darker);
    background-color: var(--background-color-lighter);
}