.header {
    display: flex;
    align-items: center;

    padding: 0.6rem 2rem;
    margin-bottom: 1.5rem;

    background-color: white;
    border: 0.1rem solid #bebebe;
}

.headerItem {
    font-size: 1.15rem;
    flex-grow: 1;
    margin: 0 1rem;
}

.lastItem {
    font-size: 1.15rem;
    flex-grow: 1;
    margin: 0 1rem;
    text-align: center;
}