.header {
    display: flex;
    justify-content: center;
}

.activeItem {
    font-size: 1.2rem;
    margin: 1rem 2rem;
    color: var(--primary-color-darker);
    text-decoration-line: underline !important;
}

.activeItem:hover {
    font-size: 1.2rem;
    margin: 1rem 2rem;
    color: var(--primary-color-darker);
    text-decoration-line: underline;
}

.inactiveItem {
    font-size: 1.2rem;
    margin: 1rem 2rem;
    color: var(--inactive-tab-item) !important;
}

.inactiveItem:hover {
    font-size: 1.2rem;
    margin: 1rem 2rem;
    color: var(--inactive-tab-item);
    text-decoration-line: underline;
}