.loginSection {
    display: flex;
    flex-flow: column;
    min-height: 100vh !important; 
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.loginMessage {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
    font-weight: bold;
}

.loginCard {
    padding: 2rem;
    font-size: 2rem;
    color: black;
    background-color: var(--background-color);
    text-align: center;
}

.companyCard {
    padding: 1rem;
    margin: 2rem;
}

.companyCard:hover {
    cursor: pointer;
}